@page "/"
@model beerT.Pages.Produse.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Lista Produse</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<form asp-page="./Index" method="get">
     <div class="form-actions no-color">
         <p>
         Sorteaza dupa distribuitor sau denumire:
         <input type="text" name="SearchString" value="@Model.CurrentFilter"
        />
         <input type="submit" value="Search" class="btn btn-primary" /> |
         <a asp-page="./Index">Back to full List</a>
         </p>
     </div>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                 <a asp-page="./Index" asp-route-sortOrder="@Model.TitleSort">
                    @Html.DisplayNameFor(model => model.Produs[0].denumire)
                 </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produs[0].pret)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Produs[0].Distribuitor.DistribuitorName)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DistribuitorSort">
                 @Html.DisplayNameFor(model => model.Produs[0].ProdusCategories)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProdusD.Produse) {
            string selectedRow = "";
                if(item.ID == Model.ProdusID)
                {
                    selectedRow = "table-success";
                }
            <tr class="@selectedRow">
                <td>
                    @Html.DisplayFor(modelItem => item.denumire)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pret)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Distribuitor.DistribuitorName)
                </td>

                <td>
                    @{
                        foreach(var category in item.ProdusCategories)
                        {
                            @category.Category.ID @: @category.Category.CategoryName <br/>
                        }
                    }
                </td>


                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                </td>
        </tr>
}
    </tbody>
</table>
